<ul>
  <% @medical_record.advices.each do |a| %>
  <li><%= a.todo %></li>
  <% end %>
</ul>
<p>
  <strong>Micro re:</strong>
  <%= @medical_record.micro_re %>
</p>

<p>
  <strong>Micro le:</strong>
  <%= @medical_record.micro_le %>
</p>

<p>
  <strong>Haem re:</strong>
  <%= @medical_record.haem_re %>
</p>

<p>
  <strong>Haem le:</strong>
  <%= @medical_record.haem_le %>
</p>

<p>
  <strong>Hard re:</strong>
  <%= @medical_record.hard_re %>
</p>

<p>
  <strong>Hard le:</strong>
  <%= @medical_record.hard_le %>
</p>

<p>
  <strong>Csme re:</strong>
  <%= @medical_record.csme_re %>
</p>

<p>
  <strong>Csme le:</strong>
  <%= @medical_record.csme_le %>
</p>

<p>
  <strong>Irma re:</strong>
  <%= @medical_record.irma_re %>
</p>

<p>
  <strong>Irma le:</strong>
  <%= @medical_record.irma_le %>
</p>

<p>
  <strong>Nvd re:</strong>
  <%= @medical_record.nvd_re %>
</p>

<p>
  <strong>Nvd le:</strong>
  <%= @medical_record.nvd_le %>
</p>

<p>
  <strong>Nve re:</strong>
  <%= @medical_record.nve_re %>
</p>

<p>
  <strong>Nvd le:</strong>
  <%= @medical_record.nvd_le %>
</p>

<p>
  <strong>Vit re:</strong>
  <%= @medical_record.vit_re %>
</p>

<p>
  <strong>Vit le:</strong>
  <%= @medical_record.vit_le %>
</p>

<p>
  <strong>Trd re:</strong>
  <%= @medical_record.trd_re %>
</p>

<p>
  <strong>Trd le:</strong>
  <%= @medical_record.trd_le %>
</p>

<p>
  <strong>Focal re:</strong>
  <%= @medical_record.focal_re %>
</p>

<p>
  <strong>Focal le:</strong>
  <%= @medical_record.focal_le %>
</p>

<p>
  <strong>Prp re:</strong>
  <%= @medical_record.prp_re %>
</p>

<p>
  <strong>Prp le:</strong>
  <%= @medical_record.prp_le %>
</p>

<p>
  <strong>Post re:</strong>
  <%= @medical_record.post_re %>
</p>

<p>
  <strong>Post le:</strong>
  <%= @medical_record.post_le %>
</p>

<p>
  <strong>Hazy re:</strong>
  <%= @medical_record.hazy_re %>
</p>

<p>
  <strong>Hazy le:</strong>
  <%= @medical_record.hazy_le %>
</p>

<p>
  <strong>Npdr re:</strong>
  <%= @medical_record.npdr_re %>
</p>

<p>
  <strong>Mild re:</strong>
  <%= @medical_record.mild_re %>
</p>

<p>
  <strong>Mild le:</strong>
  <%= @medical_record.mild_le %>
</p>

<p>
  <strong>Severe re:</strong>
  <%= @medical_record.severe_re %>
</p>

<p>
  <strong>Severe le:</strong>
  <%= @medical_record.severe_le %>
</p>

<p>
  <strong>Pdr re:</strong>
  <%= @medical_record.pdr_re %>
</p>

<p>
  <strong>Pdr le:</strong>
  <%= @medical_record.pdr_le %>
</p>

<p>
  <strong>Me re:</strong>
  <%= @medical_record.me_re %>
</p>

<p>
  <strong>Me le:</strong>
  <%= @medical_record.me_le %>
</p>

<p>
  <strong>Oct re:</strong>
  <%= @medical_record.oct_re %>
</p>

<p>
  <strong>Oct le:</strong>
  <%= @medical_record.oct_le %>
</p>

<p>
  <strong>Ffa re:</strong>
  <%= @medical_record.ffa_re %>
</p>

<p>
  <strong>Ffa le:</strong>
  <%= @medical_record.ffa_le %>
</p>

<p>
  <strong>Injection re:</strong>
  <%= @medical_record.injection_re %>
</p>

<p>
  <strong>Injection le:</strong>
  <%= @medical_record.injection_le %>
</p>

<p>
  <strong>Laser re:</strong>
  <%= @medical_record.laser_re %>
</p>

<p>
  <strong>Laser le:</strong>
  <%= @medical_record.laser_le %>
</p>

<p>
  <strong>Fup 3 re:</strong>
  <%= @medical_record.fup_3_re %>
</p>

<p>
  <strong>Fup 3 le:</strong>
  <%= @medical_record.fup_3_le %>
</p>

<p>
  <strong>Fup 6 re:</strong>
  <%= @medical_record.fup_6_re %>
</p>

<p>
  <strong>Fup 6 le:</strong>
  <%= @medical_record.fup_6_le %>
</p>

<%= link_to 'Edit', [:edit, @patient, @medical_record] %> |
<%= link_to 'Back', patient_medical_records_path(@patient) %>
